##Theory Questions##

Q1: What are data structures, and why are they important?

Answer: Data structures is a way of organizing and storing data so that they can be accessed and manipulated effeciently.
They provide efficient ways to manage information based on its characteristics and intended use.
They are important because they are containers that hold data and determine how one can interact with it.
Different containers are better suited for different types of items and once we understand them then only we can perform calculation and analysis on different forms of data effeciently and enhance the performance of the program.
Data structures also impact memory usage and optimize searching and sorting operations.

Q2: Explain the difference between mutable and immutable data types with examples.

Answer:
Mutable example: Lists are ordered, mutable collections of elements. Lists can hold items of various data types that is heterogenous data types (numbers, strings, and even other lists). One can add, remove, or modify elements within a list using indexing and slicing. Lists are versatile for storing and managing collections that might change.

my_list= ["star", 3, True,]

my_list[0]="moon"

print(my_list)

Output:
['moon', 3, True]

Immutable example: Tuples are ordered, immutable collections of elements, similar to lists. However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.
Elements can be accessed using indexing and slicing, but their content cannot be modified. Tuples are useful for representing fixed datasets or configurations.

tuple1=(1,2,3,4,5)

tuple1[0]=6

Output:
TypeError                                 Traceback (most recent call last)
<ipython-input-12-cfe6024c34d9> in <cell line: 3>()
      1 #Q5: Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.
      2 tuple1=(1,2,3,4,5)
----> 3 tuple1[0]=6

TypeError: 'tuple' object does not support item assignment

Q3: What are the main differences between lists and tuples in Python?

Answer: Lists are ordered, mutable collections of elements. Lists can hold items of various data types that is heterogenous data types (numbers, strings, and even other lists). One can add, remove, or modify elements within a list using indexing and slicing. Lists are versatile for storing and managing collections that might change.

On the other hand, tuples are ordered, immutable collections of elements, similar to lists. However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.
Elements can be accessed using indexing and slicing, but their content cannot be modified. Tuples are useful for representing fixed datasets or configurations.

Q4: Describe how dictionaries store data.

Answer: Dictionaries store data in the form of key:value pairs. Dictionaries are written with curly brackets, and have keys and values. The values in dictionary items can be of any data type.

For example: thisdict ={
"Name": "Alisha",

"Student": False,

"birth_year": 2016,

"Friends": ["Raj", "wendy", "billie"]
}

Dictionaries cannot have two items with the same key. Dictionaries are ordered, it means that the items have a defined order, and that order will not change. Dictionaries are changeable, and elements can be changed, added or removed after the dictionary has been created. They are also unindexed.

Q5: Why might you use a set instead of a list in Python?

Answer: One might use a set instead of a list because sets are unordered collections of unique elements. The order doesn't matter, and duplicate entries are not allowed. Therefore if the situation requires unique enteries without duplicates sets are preferrable than lists.They are also useful for checking membership if an item exists or finding the intersection/difference between sets.

Q6: What is a string in Python, and how is it different from a list?

Answer: String in python are characters arranged in an unchangeable order. Like writing a sentence, a paragraph, or a piece of text. Each character in the string can be accessed by its index, or position. Substrings can be extracted using slicing. Strings can be joined together and altered using a variety of techniques like find, replace, etc. Strings can't be modified like lists and therefore they are immutable.

Lists on the other hand are ordered, mutable collections of elements. It's like a mom's bag as it can contain various types of data like boolean, integer, strings and other lists as well. Lists are versatile for storing and managing collections that might change. Lists offer a lot of flexibility when storing and manupulating data and the data within the list can be added, removed or manipulated easliy.

Q7: How do tuples ensure data integrity in Python?

Answer: When a tuples are created, its elements cannot be modified unlike lists and other mutable data types. This immutable nature guarantees data integrity, making tuples a trustworthy choice for storing fixed collections of items.

Q8: What is a hash table, and how does it relate to dictionaries in Python?

Answer: In Python, hash tables are implemented through the built-in data type i.e, dictionary. A hash table is a type of data structure that maps keys to its value pairs. It basically makes use of a function that computes an index value that in turn holds the elements to be searched, inserted, removed, etc. This makes it easy and fast to access data.

In general, hash tables store key-value pairs and the key is generated using a hash function. Hash table in Python is implemented through the built-in dictionary data type. The keys of a dictionary in Python are generated by a hashing function. The elements of a dictionary are not ordered and they can be changed. An example of a dictionary can be a mapping of student names and their student IDs.

Q9: Can lists contain different data types in Python?

Answer: Lists can contain different types of data and other lists within it as well. It can be referred to as mom's bag as it can contain various types of data like boolean, integer,complex numbers, strings and other lists. They are versatile for storing and managing collections that might change. Lists offer a lot of flexibility when storing and manupulating data and the data within the list can be added, removed or manipulated easliy as they are mutable in nature.

Q10: Explain why strings are immutable in Python?

Answer: Strings are immutable in Python because they don't support item assignment like lists do. A string's character can be accesses through index but they can't be modified like mutable data structures like lists. This is the reason they are immutable in nature. However, a string's substring can be accessed and manipulated through slicing and can be modified through techniques like replace.

Q11: What advantages do dictionaries offer over lists for certain tasks?

Answer: Dictionaries are used to store data values in key:value pairs. Dictionaries cannot have two items with the same key, which means that dictionaries don't allow duplicates. It can also contain any data type within it. Therefore, dictionaries are more preferrable than lists because disctionaries don't allow duplicate values and they can store data in the form of key value pairs. So if employee details are to be stored dictionaries would be preferred as it can store all details of different data types in pairs and also remove duplicates.

Q12: Describe a scenario where a tuple would be preferable over a list.

Answer: Tuples are ordered, immutable collections of elements, similar to lists.
However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified. Elements of a tuple can be accessed using indexing and slicing, but their content cannot be modified. Therefore they are useful for representing fixed datasets or configurations.

So in a scenario where data needs to be fixed for for indentity purposes like for example Aadhar card in India or account number. In this case the number for each individual is unique and should not be changed and therefore tuples are useful for such situations where the data needs to stay fixed.

Q13: How do sets handle duplicate values in Python?

Answer: Sets cannot have two items with the same value. If duplicate values are entered in the set, they get ignored and are automatically removed and only one instance of the data remains in the set.

Q14:How does the “in” keyword work differently for lists and dictionaries?

Answer: The in keyword in Python is used to check for membership, but it behaves differently when applied to lists and dictionaries. The in keyword checks if a specific value or element is present in the list. However in dictionaries the in keyword checks if a key is present in the dictionary, not the value. To check if a value is present in a dictionary, the values() method has to be used with the in keyword.

Q15: Can you modify the elements of tuple? Explain why or why not.

Answer: Tuples are designed to be immutable data structures. This design ensures that their content remains constant throughout their lifetime, making them ideal for storing data that should not be accidentally altered. This immutable nature makes tuples great for data integrity and makes the performance of the program faster as operations on tuples are generally faster than those on lists. However, if a tuple contains mutable objects like lists, the contents of those mutable objects can be modified.

Q16: What is a nested dictionary, and give an example of its use case?

Answer: A nested dictionary is a dictionary that contains another dictionary or dictionaries as its value. This structure allows for hierarchical or multi-level data storage, making it ideal for representing complex data relationships.

Use case example:
A company might want to store data for employees grouped by departments.


employees =
{
   
   
    "Finance": {
        1001: {"name": "Soumya", "role": "Analyst", "salary": 50000},
        1002: {"name": "Bijay", "role": "Clerk", "salary": 20000}
    },


    "HR": {
        2001: {"name": "Chinmayi", "role": "talent acquisition intern", "salary": 45000},
        2002: {"name": "Dhruv", "role": "HR Manager", "salary": 85000}
    }


}

Updating, removing and adding details of new and old employees becomes easier.

Q17: Describe the time complexity of accessing elements in a dictionary.

Answer: The time complexity of accessing elements in a dictionary is:
1. Access by Key (dict[key]): O(1) (average) because dictionaries use hash tables.
2. Key Existence Check (key in dict): O(1) (average) due to hashing.
3. Search for Value (value in dict.values()): O(n) since it requires iterating through all values.
4. Iterating Through Dictionary: O(n) for keys, values, or items.

In rare cases (due to hash collisions), the worst-case complexity for key access can be O(n).

Q18: In what situations are lists preferred over dictionaries?

Answer: Lists preserve the insertion order of elements. If one needs to maintain and manipulate a sequential order of items, a list is more appropriate. Lists are simpler and efficient for storing collections of values where each element is accessed by its index rather than a key. If you don't need to associate data with unique keys, a list is a better choice. Lists are more memory-efficient than dictionaries for small datasets since dictionaries require extra space to store keys and handle hashing. Lists are naturally designed for accessing elements by their index (e.g., list[2]). If you primarily rely on positional access, lists are a better fit.

Q19: Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer: A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. Now dictionaries do retain insertion order as an implementation detail, meaning elements appear in the order they were added when you print or iterate over them.

However, they are still called "unordered" because their primary function is fast key-based access, and they are not intended to be used as ordered collections like lists or tuples. So even though they appear ordered in Python 3.7+, the emphasis is still on key-value mapping rather than sequence.

The lack of strict ordering does not affect this because keys are stored based on their hash values, not their position.

Q20:Explain the difference between a list and a dictionary in terms of data retrieval.

Answer: List: Data is retrieved using index-based access. Each element in the list is associated with a numeric index starting from 0. Retrieving an element by index is O(1) (constant time) because Python can directly access the memory location of the indexed element.

Dictionary: Data is retrieved using key-based access. Each element is stored as a key-value pair, and you use the key to retrieve the associated value.
Retrieving a value by key is O(1) (average case) because dictionaries use a hash table for fast lookups.

##Practical Questions##

In [ ]:
#Q1: Write a code to create a string with your name and print it.
Name= "Isha Yadav"
print(Name)

Isha Yadav

In [ ]:
#Q2: Write a code to find the length of the string "Hello World".
print(len("Hello World"))

11

In [ ]:
#Q3: Write a code to slice the first 3 characters from the string "Python Programming"
print("Python Programming"[0:3])

Pyt

In [ ]:
#Q4: Write a code to convert the string "hello" to uppercase.
print("hello".upper())

HELLO

In [29]:
#Q5: Write a code to replace the word "apple" with "orange" in the string "I like apple".
Statement= "I like apple"
new_statement= Statement.replace("apple", "orange")
print(new_statement)

I like orange

In [30]:
#Q6: Write a code to create a list with numbers 1 to 5 and print it.
lis=[1,2,3,4,5]
print(lis)

[1, 2, 3, 4, 5]

In [31]:
#Q7: Write a code to append the number 10 to the list [1,2,3,4]
lis=[1,2,3,4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

In [32]:
#Q8: Write a code to remove the number 3 from the list [1,2,3,4,5]
lis=[1,2,3,4,5]
lis.remove(3)
print(lis)

[1, 2, 4, 5]

In [33]:
#Q9: Write a code to access the second element in the list ['a','b','c','d']
lis=['a','b','c','d']
lis[1]

'b'

In [36]:
#Q10: Write a code to reverse the list [10,20,30,40,50]
lis=[10,20,30,40,50]
lis.reverse()
print(lis)

[50, 40, 30, 20, 10]

In [37]:
#Q11: Write a code to create a tuple with the elements 10,20,30 and print it.
tup=(10,20,30)
print(tup)

(10, 20, 30)

In [38]:
#Q12: Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tup=('apple', 'banana', 'cherry')
tup[0]

'apple'

In [39]:
#Q13: Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tup=(1, 2, 3, 2, 4, 2)
tup.count(2)

3

In [41]:
#Q14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup=('dog', 'cat', 'rabbit')
tup.index('cat')

1

In [44]:
#Q15: Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tup=('apple', 'orange','banana')
if "banana" in tup:
    print("banana")

banana

In [45]:
#Q16: Write a code to create a set with the elements 1,2,3,4,5 and print it.
set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [46]:
#Q17: Write a code to add the element 6 to the set {1,2,3,4}.
set={1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [47]:
#Q18: Write a code to create a tuple with the elements 10,20,30 and print it.
tup=(10,20,30)
print(tup)

(10, 20, 30)

In [48]:
#Q19: Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tup=('apple','banana','cherry')
tup[0]

'apple'

In [49]:
#Q20: Write a code to count how many times the number 2 appears in the tuple(1,2,3,2,4,2).
tup=(1,2,3,2,4,2)
tup.count(2)

3

In [50]:
#Q21: Write a code to find the index of the element "cat" in the tuple ("dog","cat","rabbit").
tup=("dog","cat","rabbit")
tup.index("cat")

1

In [51]:
#Q22: Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tup=("apple","orange","banana")
if "banana" in tup:
  print("banana in tup")
else:
  print("banana not in tup")

banana in tup

In [52]:
#Q23: Write a code to create a set with the elements 1,2,3,4,5 and print it.
set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [53]:
#Q24: Write a code to add the element 6 to the set {1,2,3,4}.
set={1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

##End of assignment##